.container {
  .manage-size {
    a {
      display: flex;
      align-items: center;
      column-gap: 5px;
      cursor: pointer;
      color: rgba(0, 0, 0, 0.4);
      text-align: center;
      font-feature-settings: "cv11" on, "cv01" on, "ss01" on;
      font-family: "Inter";
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 20px;
      &:hover {
        color: rgba(0, 0, 0, 0.4);
      }
    }
    .heading {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 5px 0px 18px 0px;

      h2 {
        color: #000;
        font-family: "Inter";
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
      }
      button {
        border: none;
        padding: 10px 31px;
        border-radius: 6px;
        background: #ff7d05;
        color: #fff;
        font-family: "Manrope";
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 18px;
      }
    }
    .content {
      padding: 29px 32px 131px 39px;
      background-color: var(--bg-primary);
      border-radius: 4px;
      .size-head {
        display: flex;
        align-items: center;
        column-gap: 18px;
        padding: 11px 20px;
        border-radius: 6px;
        border: 0.75px solid #9c9c9c;
        width: 422px;

        select {
          width: 40%;
          border: none;
          outline: none;
          color: #4a4a4a;
          font-family: "Inter";
          font-size: 13px;
          font-style: normal;
          font-weight: 500;
          line-height: normal;
          cursor: pointer;
        }

        .search-div {
          display: flex;
          align-items: center;
          width: 60%;
          column-gap: 15px;
          border: none;
          input {
            width: 100%;
            border: none;
            outline: none;
            color: rgba(0, 0, 0);
            font-feature-settings: "cv11" on, "cv01" on, "ss01" on;
            font-family: "Inter";
            font-size: 13px;
            font-style: normal;
            font-weight: 400;
            &::placeholder {
              color: rgba(0, 0, 0, 0.4);
              font-feature-settings: "cv11" on, "cv01" on, "ss01" on;
              font-family: "Inter";
              font-size: 13px;
              font-style: normal;
              font-weight: 400;
              //   line-height: 20px;
            }
          }
          img {
            cursor: pointer;
          }
        }
      }
      .table-outer {
        overflow-x: auto;

        .managesize-table {
          margin-top: 27px;
          min-width: 970px;
          border-radius: 6px;
          border: 0.75px solid #9c9c9c;
          .managesizeHeader {
            border-radius: 5px;
            background: rgba(255, 125, 5, 0.06);
            padding: 10px 0px;
            padding-inline: 41px;
            display: flex;
            column-gap: 60px;
            .ist-div,
            .second-div,
            .third-div {
              width: 200px;
            }

            .forth-div {
              width: 100px;
            }
            .MuiGrid-item {
              color: #ff7d05;
              font-family: "Inter";
              font-size: 13px;
              font-style: normal;
              font-weight: 500;
              line-height: 150%;
            }
          }
          .managesizeRow {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            min-height: 400px;
          }
        }
      }
    }
    .modal-content {
      padding: 32px;
      width: 50vw !important;
    }
    .modal-dialog {
      display: flex;
      align-items: center;
      justify-content: center;
      max-width: unset;
    }
    .modal {
      overflow: auto;
      .modal-header {
        width: 100%;
        .modal-title {
          color: #000;
          font-family: "Inter";
          font-size: 15px;
          font-style: normal;
          font-weight: 600;
          line-height: normal;
          margin-bottom: 2px;
        }
        p {
          color: #989898;
          font-family: "Inter";
          font-size: 14px;
          font-style: normal;
          font-weight: 500;
          line-height: normal;
          margin: 0px;
          padding: 0px;
        }
      }
      .modal-body {
        margin-top: 54px;
        padding: 0px;
        .modal-top {
          display: flex;
          flex-direction: column;
          row-gap: 25px;
          h4 {
            margin-bottom: 12px;
            color: #393939;
            font-family: "Inter";
            font-size: 14px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
          }
          .product-type {
            .search-div {
              width: 100%;
              display: flex;
              align-items: center;
              justify-content: space-between;
              padding: 12px 18px;
              input {
                border: none;
                outline: none;
                color: #000000;
                font-family: "Inter";
                font-size: 13px;
                font-style: normal;
                font-weight: 500;
                line-height: normal;
                &::placeholder {
                  color: #737373;
                }
              }
              img {
                cursor: pointer;
              }
            }
          }
          .detail {
            display: flex;
            align-items: center;
            gap: 12px;
            .chart-name,
            .desc {
              width: 100%;
            }
            input {
              width: 100%;
              padding: 10px 18px;
              border-radius: 6px;
              border: 0.75px solid #9c9c9c;
              outline: none;
              color: #000000;
              font-family: "Inter";
              font-size: 13px;
              font-style: normal;
              font-weight: 500;
              line-height: normal;
              &::placeholder {
                color: #737373;
              }
            }
          }
        }
        .option-div {
          select {
            height: 38px;

            width: 100%;
            outline: none;
            border-radius: 6px;
            border: 0.75px solid #9c9c9c;
          }
        }
        .toggle-div {
          display: flex;
          align-items: center;
          column-gap: 16px;
          h4 {
            margin: 0px;
            padding: 0px;
          }
          img {
            cursor: pointer;
          }
        }
      }
      .modal-footer {
        border: none;
        margin-top: 77px;
        .close-butn {
          border-radius: 4px;
          border: 1px solid #c2c2c2;
          box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.5);
          color: #787878;
          font-feature-settings: "clig" off, "liga" off;
          font-family: SF UI Display;
          font-size: 13px;
          font-style: normal;
          font-weight: 600;
          line-height: 22px; /* 169.231% */
          letter-spacing: 0.5px;
          padding: 9px 46px;
          height: 40px;
        }
        .save-butn {
          height: 40px;
          border-radius: 4px;
          background: #ff7d05;
          box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.5);
          color: #fff;
          font-feature-settings: "clig" off, "liga" off;
          font-family: SF UI Display;
          font-size: 13px;
          font-style: normal;
          font-weight: 600;
          line-height: 22px; /* 169.231% */
          letter-spacing: 0.5px;
          padding: 9px 46px;
          border: none;
        }
      }
    }
  }
}

/////////////////////////////////////// Media Query //////////////////////////////////
@media only screen and (max-width: 960px) {
  .container {
    .manage-size {
      .modal-content {
        width: 80vw !important;
      }
    }
  }
}
@media only screen and (max-width: 600px) {
  .container {
    .manage-size {
      .heading {
        margin: 5px 0px 0px 0px;
        flex-direction: column;
        align-items: flex-start;

        button {
          padding: 8px 20px;
          border-radius: 6px;
        }
      }
      .content {
        padding: 15px 15px 15px 0px;

        .size-head {
          column-gap: 10px;
          padding: 10px;
          width: 100%;

          select {
            width: 50%;
          }

          .search-div {
            width: 50%;
            justify-content: space-between;
            column-gap: 10px;
          }
        }
      }
      .modal {
        overflow: auto;
        .modal-body {
          margin-top: 20px;
          padding: 0px;
          .modal-top {
            .product-type {
              .search-div {
                padding: 10px 15px;
              }
            }
            .detail {
              display: flex;
              align-items: center;
              flex-direction: column;
            }
          }
        }
        .modal-footer {
          border: none;
          margin-top: 30px;
          display: flex;
          flex-direction: column;
          align-items: flex-end;
          padding: 0px;
          .close-butn,
          .save-butn {
            width: 100px;
            display: flex;
            align-items: center;
            justify-content: center;
          }
        }
      }
    }
  }
}
