.BundlesContainer {
  width: 100%;
  background: var(--bg-primary);
  min-height: 500px;
  padding: 30px;
  margin-block: 20px;
}

.BundleFilters {
  justify-content: space-between;
}

.BundlesTable {
  border: 1px solid var(--text-secondary);
  border-radius: 8px;
  margin-top: 20px;
min-height: 400px;
}

.BundlesTableHeader {
  background: var(--highlight);
}

.BundlesTableHeader p {
  color: var(--primary);
  font-family: var(--font1);
  font-size: 14px;
  font-weight: 500;
  margin-block: 8px;
  margin-left: 8px;
}

.BundlesTableRow p {
  color: var(--text-primary);
  font-family: var(--font1);
  font-size: 14px;
  margin-block: 8px;
  margin-left: 8px;
}
