* {
  /* outline: 2px solid rgba(255, 0, 0, 0.609); */
}

.Topup {
  width: 100%;
  padding-block: 46px;
  padding-inline: 60px;
}

.Topup-split {
  display: flex;
  gap: 40px;
}

.Topup-left, .Topup-right{
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.topup-pkg{
display: flex;
flex-direction: row;
justify-content: space-between;
}

.topup-pkgItem{
border: 1px solid var(--secondary);
width: 90px;
height: 45px;
border-radius: 8px;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}

.topup-pkgItem p{
    font-size: 16px;
    font-weight: 500;
    margin-bottom: -2px;
}

.topup-pkgItem a{
    font-size: 10px;
}

.AddCard-btn{
  margin-top: 40px;
}

.AddCard-btn svg{
  color: var(--primary);
}

.AddCard-btn button{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border: 1px solid var(--text-secondary);
  padding-inline: 20px;
}


@media screen and (max-width: 1100px) {
  .topup-pkg{
  flex-wrap: wrap;
  justify-content: start;
  gap: 15px;
  }
}


@media screen and (max-width: 900px) {
  .Topup-split {
    flex-direction: column;
    gap: 40px;
  }

  .Topup-left, .Topup-right{
    width: 100%;
  }
}